@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 26, 26, 26;
    --background-end-rgb: 1, 44, 102;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    @apply bg-[#012c66] border border-[#012c66] rounded-full text-white px-5 py-1.5 self-center m-6 hover:bg-blue-700 hover:scale-[1.1] delay-75 ease-out duration-75 font-bold mt-6 max-w-full md:max-w-xs cursor-pointer;
}
.btn-disabled {
    @apply opacity-70 bg-gray-500 rounded-full text-white px-5 py-1.5 self-center m-6 font-bold mt-6 md:max-w-xs;
}
.btn-wide {
    @apply btn;
    @apply w-80;
}
.btn-disabled-wide {
    @apply btn-disabled;
    @apply w-80;
}

.link {
    @apply underline cursor-pointer hover:text-blue-400;
}

@keyframes moveSentences {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.moveSentence {
    animation: moveSentences 60s linear infinite;
}

@keyframes moveSentencesRev {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* modal */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.moveSentenceRev {
    animation: moveSentencesRev 60s linear infinite;
}

/* Add these styles to your CSS file or style block */

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #000;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
